{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}


{% block title %}
    Authorization
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/accounts/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-login">
        <div class="page-header">
            <h1 class="text__page-header">
                Log in
            </h1>
        </div>
        <div class="login-to-registration__wrapper">
            <div class="login__content-section">
                <div class="login__container">
                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                        <p>Please sign in with one
                            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                            for a account and sign in below:</p>

                        <div class="socialaccount_ballot">

                            <ul class="socialaccount_providers">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>

                            <div class="login-or">Или</div>

                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %}
                    {% endif %}
                    <div class="login__form">
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <div class="form-field login__form-field">
                                {{ form.login }}
                            </div>
                            <div class="form-field login__form-field">
                                {{ form.password }}
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="form-field login__form-field text--opacity-half">
                                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot password</a>
                            </div>
                            <button class="action-btn" type="submit">Log in</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="to-registration__container">
                <h4>You're not with us yet?</h4>
                <a href="{{ signup_url }}">
                    <button class="action-btn registration-btn">Sign up</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
