{% extends "base.html" %}
{% load static %}

{% load i18n %}


{% block title %}
    Logout
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/accounts/logout.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-logout">

        <div class="page-header">
            <h1 class="text__page-header">
                Logout
            </h1>
        </div>

        <div class="logout__container">
            <h4>Did you really want to logout?</h4>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="action-btn">Logout</button>
            </form>
        </div>

    </div>

{% endblock %}
