{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pages/accounts/logout.css' %}">
{% endblock %}

{% block content %}

    <div class="content_type-logout">

        <div class="page-header">
            <h1 class="text__page-header">
                Reset password
            </h1>
        </div>

        <div class="logout__container">
            <h5>Enter your email to reset your password</h5>
            <form method="post" action="{% url 'account_logout' %}">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="form-field login__form-field">
                        {{ form.email }}
                    </div>
                    <input type="submit" class="account-control-btn" value="Reset password" />
                </form>
            </form>
        </div>

    </div>

{% endblock %}
