{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="content_type-logout">

        <div class="page-header">
            <h1 class="text__page-header">
                Reset password
            </h1>
        </div>

        <div class="logout__container">
            <h5>We have sent you an email. Please contact us if you haven't received it in a few minutes.</h5>
        </div>

    </div>
    
{% endblock %}
