<div class="blog-post__card">
    <div class="blog-post__card-body">
        <div class="blog-post__card-body--post-img">
            <a href="{% url 'blog_detail' id=post.id %}">
                <img src="{{ post.preview_img.url }}" alt="">
            </a>
        </div>
        <div class="blog-post__card-post-info">
            <div class="blog-post__card-body-date">
                <p>{{ post.date_created }}</p>
            </div>
            <div class="blog-post__card-body-title">
                <h4>{{ post.title }}</h4>
            </div>
            <div class="blog-post__card-body-description">
                <p class="text--brown">{{ post.preview_content | safe | truncatechars:120 }}</p>
            </div>
            <div class="blog-post__card-post-info__btn-container">
                <a href="{% url 'blog_detail' id=post.id %}">
                    <button class="blog-post__card-post-info__btn">
                        READ MORE
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
