{% load static %}

<div class="navbar-container">
    <div class="navbar">
        <ul class="navbar-categories">
            <li class="navbar-categories__item">
                <a href="{% url 'base' %}" class="navbar-categories__item-link">
                    HOME
                </a>
            </li>
            <li class="navbar-categories__item">
                <a href="{% url 'product_discount' %}" class="navbar-categories__item-link text--red">
                    DISCOUNTS
                </a>
            </li>
            <li class="navbar-categories__item">
                <a href="{% url 'categories' %}" class="navbar-categories__item-link">
                    CATEGORIES
                </a>
            </li>
            <li class="navbar-categories__item">
                <a href={% url 'blog' %}#" class="navbar-categories__item-link">
                    BLOG
                </a>
            </li>
            <li class="navbar-categories__item">
                <a href="{% url 'about' %}" class="navbar-categories__item-link">
                    ABOUT
                </a>
            </li>
            <li class="navbar-categories__item">
                <a href="{% url 'faq_view' %}" class="navbar-categories__item-link">
                    FAQ
                </a>
            </li>
        </ul>
    </div>
    {% if user.is_authenticated %}
        {% include 'include/profile_dropdown.html' %}
    {% endif %}
</div>
