<div class="category__card">
    <a href="{{ category.get_absolute_url }}">
        <div class="category__card-background">
            {% if category.category_photo %}
                <img src="{{ category.category_photo.url }}" alt="">
            {% else %}
                <img src="https://images.unsplash.com/photo-1539533018447-63fcce2678e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
            {% endif %}
        </div>
        <div class="category__card-body">
            <h3 class="">{{ category.name.upper }}</h3>
        </div>
    </a>
</div>
