<div class="products__card">
    <div class="products__card-container">

        <div class="products__card-background">
            {% if record.variant_min_price_discount %}
                <a href="{{ record.variant_min_price_discount.get_absolute_url }}">
                    <img src="{{ record.product.get_main_img.url }}" alt="">
                </a>
            {% elif record.variant_min_price %}
                <a href="{{ record.variant_min_price.get_absolute_url }}">
                    <img src="{{ record.product.get_main_img.url }}" alt="">
                </a>
            {% else %}
                <a href="{{ record.product.get_absolute_url }}">
                    <img src="{{ record.product.get_main_img.url }}" alt="">
                </a>
            {% endif %}
        </div>
        <div class="products__card-body">

            {% if record.variant_min_price_discount %}

                <a href="{{ record.variant_min_price_discount.get_absolute_url }}">
                    <div class="products__card-body-header">
                        <h3>{{ record.variant_min_price_discount.title }}</h3>
                    </div>
                </a>
                <div class="products__card-body-price-btn">

                    <div class="products__card-body-price-container">
                        {% if record.variant_min_price_discount %}
                            <p class="product-price--discount"><del>{{ record.variant_min_price.price }}$</del></p>
                            <p class="product-price text--red">{{ record.variant_min_price_discount.discount_price }}$</p>
                        {% else %}
                            <p class="product-price">{{ record.variant_min_price.price }}$</p>
                        {% endif %}
                    </div>

                    <a class="products__card-body__buy-button-wrapper"
                       href="{% url 'orders:add_to_cart' category=record.product.category.slug slug=record.product.slug variant=record.variant_min_price_discount.id %}">
                        <button class="action-btn update-cart products__card-body__buy-button text--brown-outlined"
                                data-goods_id="{{ record.variant_min_price_discount.id }}"
                                data-action="addToCart">
                            In cart
                        </button>
                    </a>
                </div>

            {% elif record.variant_min_price %}

                <a href="{{ record.variant_min_price.get_absolute_url }}">
                    <div class="products__card-body-header">
                        <h3>{{ record.variant_min_price.title }}</h3>
                    </div>
                </a>
                <div class="products__card-body-price-btn">
                    <div class="products__card-body-price-container">
                        {% if record.variant_min_price_discount %}
                            <p class="product-price--discount">
                                <del>{{ record.variant_min_price.price }}$</del>
                            </p>
                            <p class="product-price text--red">{{ record.variant_min_price_discount.discount_price }}$</p>
                        {% else %}
                            <p class="product-price">{{ record.variant_min_price.price }}$</p>
                        {% endif %}
                    </div>
                    <a class="products__card-body__buy-button-wrapper"
                       href="{% url 'orders:add_to_cart' category=record.product.category.slug slug=record.product.slug variant=record.variant_min_price.id %}">
                        <button class="action-btn update-cart products__card-body__buy-button text--brown-outlined"
                                data-goods_id="{{ record.variant_min_price.id }}"
                                data-action="addToCart">
                            In cart
                        </button>
                    </a>
                </div>

            {% else %}

                <a href="{{ record.product.get_absolute_url }}">
                    <div class="products__card-body-header">
                        <h3>{{ record.product.title }}</h3>
                    </div>
                </a>
                <div class="products__card-body-price-btn">
                    <div class="products__card-body-price-container">
                        {% if record.product.discount_price %}
                            <p class="product-price--discount"><del>{{ record.product.price }}$</del></p>
                            <p class="product-price text--red">{{ record.product.discount_price }}$</p>
                        {% else %}
                            <p class="product-price">{{ record.product.price }}$</p>
                        {% endif %}
                    </div>
                    <a class="products__card-body__buy-button-wrapper"
                       href="{% url 'orders:add_to_cart' category=record.product.category.slug slug=record.product.slug %}">
                        <button class="action-btn update-cart products__card-body__buy-button text--brown-outlined"
                                data-goods_id="{{ record.product.id }}"
                                data-action="addToCart">
                            In cart
                        </button>
                    </a>
                </div>

            {% endif %}

        </div>
    </div>
</div>
