{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/extensions/nouislider.css' %}">
{% endblock %}

<div class="filter-form">

    <div class="filter-form-header">
        <h4>Filter</h4>
        <button class="close__filter-btn"></button>
    </div>

    <form action="" method="GET" class="filter-form__filters">
        {% csrf_token %}

        <div class="filter-form__filters-col">
            <div class="filter-form__filters-wrapper">
                <span class="{{ filter_form.brand.name }}">{{ filter_form.brand.label }}</span>
                {{ filter_form.brand }}
            </div>
        </div>

        <div class="filter-form__filters-price">

            <div class="price-slider-horizontal"></div>
            <div class="price-minmax-container">
                {{ filter_form.price_min }}
                {{ filter_form.price_max }}
            </div>
            <div class="filter-form__filters-col">

            </div>
            <div class="filter-form__filters-col">

            </div>

        </div>

        {% for field in filter_form.visible_fields %}

            {% if field.name == "price_max" or field.name == "price_min" or field.name == "brand" %}
            {% else %}
                <div class="filter-form__filters-col">
                    <div class="filter-form__filters-wrapper">
                        <span class="{{ field.name }}">{{ field.label }}</span>
                        {{ field }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

        {% for num in category_products.paginator.page_range %}

            {% if category_products.number == num %}

                <input type="hidden" value="{{ num }}" name="page" />

            {% endif %}

        {% endfor %}

        <input type="submit" class="filter-form__filters-submit-btn" value="Submit">
    </form>
</div>
