{% load static %}


<div class="footer-wrapper">
    <div class="footer-block">
        <ul class="footer-actions">
            <li class="footer-actions__item">
                <a href="{% url 'blog' %}" class="footer-actions__item-link text--brownAndWhite-outlined">Blog</a>
            </li>
            <li class="footer-actions__item">
                <a href="{% url 'delivery_view' %}" class="footer-actions__item-link text--brownAndWhite-outlined">Shipping & Payment</a>
            </li>
            <li class="footer-actions__item">
                <a href="{% url 'faq_view' %}" class="footer-actions__item-link text--brownAndWhite-outlined">FAQ</a>
            </li>
            <li class="footer-actions__item">
                <a href="{% url 'about' %}" class="footer-actions__item-link text--brownAndWhite-outlined">About</a>
            </li>
        </ul>
    </div>
    <div class="footer-wrapper__background-circle footer-wrapper__background-circle-left"></div>
    <div class="footer-wrapper__background-circle footer-wrapper__background-circle-right"></div>
</div>
