<div class="goods__card">
    <a href="{{ trend_product.product.get_absolute_url }}">
        <div class="goods__card-background">
            <img src="{{ trend_product.banner_img.url }}"
                 alt=""
                 class="goods__card-background-img">
        </div>
        <div class="goods__card-body">
            <div class="goods__card-body-header">
                <h3>{{ trend_product.product.title }}</h3>
            </div>
            <div class="goods__card-body-description">
                <p>{{ trend_product.content }}</p>
            </div>
            <div class="goods__card-body-footer">
                {% if trend_product.product.discount_price %}
                    <div class="goods__card-body-footer-price--with-discount">
                        <p><del>{{ trend_product.product.price }}$</del></p>
                    </div>
                    <div class="goods__card-body-footer-price--discount text--red ">
                        <p>{{ trend_product.product.discount_price }}$</p>
                    </div>
                {% else %}
                    <div class="goods__card-body-footer-price">
                        <p>{{ trend_product.product.price }}$</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
