{% load static %}


<div class="header-container">
    <!-- Header -->
    <div class="logo-container">
        <img src="{% static 'icons/logo.png' %}"></img>
    </div>
    <div class="searchbar-container">
        <form action="{% url 'products:search' %}" method="GET" class="search-form">
            <div class="search-form__input-wrapper">
                <input type="text" class="search-form__input" name="search" value="{{ query }}">
            </div>
        </form>
    </div>
    <div class="userBar-container">
        <ul class="header-actions">
            <li class="header-actions__item header-actions__item-cart">
                <a class="header__button" href="{% url 'orders:cart' %}">
                    <img src="{% static 'icons/shopping_cart-24px.svg' %}" class="material-icons material-icons-outlined" alt="">
                    {% if total_products %}
                        <span class="counter counter--red">{{ total_products }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="header-actions__item header-actions__item-profile">
                {% if not user.is_authenticated %}
                    <a class="header__button" href="{% url 'account_login' %}">
                        <img src="{% static 'icons/account_circle-24px.svg' %}" class="material-icons material-icons-outlined" alt="">
                        <span class="online-state counter--red">0</span>
                    </a>
                {% else %}
                    <div class="header__button--notClickable">
                        <img src="{% static 'icons/account_circle-24px.svg' %}" class="material-icons material-icons-outlined" alt="">
                        <span class="online-state counter--green">0</span>
                    </div>
                {% endif %}
            </li>
            <li class="header-actions__item header-actions__item-menu">
                <a href="javascript:void(0);" class="header__button" onclick="myFunction()">
                    <img src="{% static 'icons/menu_white_24dp.svg' %}" class="material-icons material-icons-outlined" alt="">
                </a>
            </li>
        </ul>
    </div>
    <!-- /Header -->
</div>


{% block js %}
    <script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
