<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel-{{ order.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-{{ order.id }}">Детали заказа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Товар</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total price</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_cart in order.cart.products.all %}
                        <tr>
                            <td class="img-fluid modal-order__img">
                                <img src="{{ product_cart.product.get_main_img.url }}" alt=""
                                     class="modal-order__img">
                            </td>
                            <td>
                                <a href="{{ product_cart.product.get_absolute_url }}">{{ product_cart.product.title }}</a>
                            </td>
                            <td>
                            {% if product_cart.variant %}
                                {% if product_cart.variant.discount_price %}
                                    <span class="mr-1">
                                        <del>Price: {{ product_cart.variant.price }} грн.</del>
                                    </span>
                                    <p>Price: {{ product_cart.variant.discount_price }}</p>
                                {% else %}
                                    <p>Price: {{ product_cart.variant.price }}</p>
                                {% endif %}
                                </td>
                            {% else %}
                                {% if product_cart.product.discount_price %}
                                    <span class="mr-1">
                                        <del>Price: {{ product_cart.product.price }} грн.</del>
                                    </span>
                                    <p>Price: {{ product_cart.product.discount_price }}</p>
                                {% else %}
                                    <p>Price: {{ product_cart.product.price }}</p>
                                {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ product_cart.qty }}</td>
                            <td>{{ product_cart.final_price }} грн.</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td>Total:</td>
                        <td>{{ order.cart.total_products }}</td>
                        <td>{{ order.cart.final_price }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h4 class="text-center">Дополнительная информация</h4>
                <p>First name: {{ order.first_name }}</p>
                <p>Last name: {{ order.last_name }}</p>
                <p>Phone: {{ order.phone }}</p>
                <p>City: {{ order.shipping_address.city }}</p>
                <p>Region: {{ order.shipping_address.region }}</p>
                <p>Street: {{ order.shipping_address.address }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
