<div class="profile-products__card">
    <div class="profile-products__card-body">
        <div class="profile-products__card-body__product-info">
            <div class="profile-products__card-body-info">
                <div class="card-body-info--col">
                    <h4>Order number</h4>
                    <p>{{ order.id }}</p>
                </div>
                <div class="card-body-info--col">
                    <h4>Date</h4>
                    <p>{{ order.date_order }}</p>
                </div>
                <div class="card-body-info--col">
                    <h4>Status</h4>
                    {% if order.status == 'new' %}
                        <p> New </p>
                    {% elif order.status == 'in_progress' %}
                        <p> In processing </p>
                    {% elif order.status == 'ready' %}
                        <p> Ready </p>
                    {% elif order.status == 'complete' %}
                        <p> Completed </p>
                    {% endif %}
                </div>
                <div class="card-body-info--col">
                    <h4>Quantity</h4>
                    <p>{{ order.cart.total_products }}</p>
                </div>
                <div class="card-body-info--col">
                    <h4>Amount</h4>
                    <p>{{ order.cart.final_price }}</p>
                </div>
            </div>
            <div class="profile-products__card-body-total-sum">
                <button class="profile__summary__order-button"
                        data-toggle="modal"
                        data-target="#exampleModal-{{ order.id }}">
                    MORE
                </button>
            </div>
        </div>
    </div>
</div>
