{% load tags_extras %}

<div class="pagination">
    {% if queryset.has_previous %}

        <a href="?{% url_replace page=1 %}">
            <button class="pagination-number">1</button>
        </a>

        <a href="?{% url_replace page=queryset.previous_page_number %}">
            <button class="pagination-action--prev"></button>
        </a>

        {% if queryset.number != 2 and queryset.number != 3 %}
            <p>...</p>
        {% endif %}

    {% endif %}


    {% for num in queryset.paginator.page_range %}

        {% if queryset.number == num %}

            <span class="pagination-number pagination-current">{{ num }}</span>

        {% elif num > queryset.number|add:'-2' and num < queryset.number|add:'2' %}

            {% if num == 1 or num == queryset.paginator.num_pages %}
            {% else %}
                <a class="pagination-number" href="?{% url_replace page=num %}">{{ num }}</a>
            {% endif %}

        {% endif %}

    {% endfor %}


    {% if queryset.has_next %}

        {% if queryset.number != queryset.paginator.num_pages|add:'-3' and queryset.number != queryset.paginator.num_pages|add:'-2' %}
        {% else %}
            <p>...</p>
        {% endif %}

        <a href="?{% url_replace page=queryset.next_page_number %}">
            <button class="pagination-action--next "></button>
        </a>
        <a href="?{% url_replace page=queryset.paginator.num_pages %}">
            <button class="pagination-number">{{ queryset.paginator.num_pages }}</button>
        </a>

    {% endif %}
</div>
