<div class="popular__card">
    <a href="{{ popular_product.get_absolute_url }}">
        <div class="popular__card-background">
            <img src="{{ popular_product.get_main_img.url }}"
                 alt=""
                 class="popular__card-background-img">
        </div>
        <div class="popular__card-body">
            <div class="popular__card-body-header">
                <h3>{{ popular_product.title }}</h3>
            </div>
            <div class="popular__card-body-footer">
                {% if popular_product.discount_price %}
                    <div class="goods__card-body-footer-price--with-discount">
                        <p><del>{{ popular_product.price }}$</del></p>
                    </div>
                    <div class="goods__card-body-footer-price--discount text--red ">
                        <p>{{ popular_product.discount_price }}$</p>
                    </div>
                {% else %}
                    <div class="goods__card-body-footer-price">
                        <p>{{ popular_product.price }}$</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
