<div class="cart-products__card">
    <div class="cart-products__card-body">

        {% if cart_product.variant %}
            <div class="cart-products__card-body--product-img">
                <a href="" class="cart-img-link d-block">
                    {% if cart_product.variant.image %}
                        <img class="img-fluid" src="{{ cart_product.variant.image }}" alt="">
                    {% else %}
                        <img class="img-fluid" src="{{ cart_product.product.get_main_img.url }}" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="cart-products__card-body__product-info">
                <div class="cart-products__card-body-title">
                    <h4>{{ cart_product.variant.title }}</h4>
                </div>

                <div class="cart-products__card-body-counter">
{#                    <form action="{% url 'orders:change_qty_cart' category=cart_product.product.category.slug slug=cart_product.product.slug variant=cart_product.variant.id %}" method="Post">#}
{#                        {% csrf_token %}#}
{#                        <div class="counter-product">#}
{#                            <button class="counter-product--minus"#}
{#                                    type="button"#}
{#                                    onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>#}
{#                            <input type="number"#}
{#                                   class="form-control"#}
{#                                   name="qty"#}
{#                                   min="1"#}
{#                                   value="{{ cart_product.qty }}"#}
{#                                   readonly>#}
{#                            <button class="counter-product--plus"#}
{#                                    type="button"#}
{#                                    onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>#}
{#                        </div>#}
{#                        <input type="submit"#}
{#                               class="action-btn"#}
{#                               value="Изменить кол-во"#}
{#                               data-goods_id="{{ product.id }}"#}
{#                               data-action="addToCart">#}
{#                    </form>#}
                </div>

                <div class="cart-products__card-body-total-sum">
                    {% if cart_product.variant.discount_price %}
                        <p class="text--brown">{{ cart_product.variant.discount_price }}$</p>
                    {% else %}
                        <p class="text--brown">{{ cart_product.variant.price }}$</p>
                    {% endif %}
                </div>
                <a href="{% url 'orders:delete_from_cart' category=cart_product.product.category.slug slug=cart_product.product.slug variant=cart_product.variant.id %}">
                    <button class="cart-products__remove-button" data-goods_id="{{ product.id }}" data-action="remove"></button>
                </a>
            </div>
        {% else %}
            <div class="cart-products__card-body--product-img">
                <a href="" class="cart-img-link d-block">
                    <img class="img-fluid" src="{{ cart_product.product.get_main_img.url }}" alt="">
                </a>
            </div>
            <div class="cart-products__card-body__product-info">
                <div class="cart-products__card-body-title">
                    <h4>{{ cart_product.product.title }}</h4>
                </div>

                <div class="cart-products__card-body-counter">
{#                    <form action="{% url 'orders:change_qty_cart' category=cart_product.product.category.slug slug=cart_product.product.slug %}" method="Post">#}
{#                        {% csrf_token %}#}
{#                        <div class="counter-product">#}
{#                            <button class="counter-product--minus"#}
{#                                    type="button"#}
{#                                    onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>#}
{#                            <input type="number"#}
{#                                   class="form-control"#}
{#                                   name="qty"#}
{#                                   min="1"#}
{#                                   value="{{ cart_product.qty }}"#}
{#                                   readonly>#}
{#                            <button class="counter-product--plus"#}
{#                                    type="button"#}
{#                                    onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>#}
{#                        </div>#}
{#                        <input type="submit"#}
{#                               class="action-btn"#}
{#                               value="Изменить кол-во"#}
{#                               data-goods_id="{{ product.id }}"#}
{#                               data-action="addToCart">#}
{#                    </form>#}
                </div>

                <div class="cart-products__card-body-total-sum">
                    {% if cart_product.product.discount_price %}
                        <p class="text--brown">{{ cart_product.product.discount_price }} $</p>
                    {% else %}
                        <p class="text--brown">{{ cart_product.product.price }} $</p>
                    {% endif %}
                </div>
                <a href="{% url 'orders:delete_from_cart' category=cart_product.product.category.slug slug=cart_product.product.slug %}">
                    <button class="cart-products__remove-button" data-goods_id="{{ product.id }}" data-action="remove"></button>
                </a>
            </div>
        {% endif %}

    </div>
</div>
