<div class="profile-dropdown-container hidden">
    <ul>
        <li><a href="{% url 'profiles:profile' %}">My orders</a></li>
        <li><a href="{% url 'account_logout' %}">Log out</a></li>
    </ul>
</div>
