.splide__slide img {
    width : 100%;
    height: auto;
}

.splide__arrow {
    z-index: 1;
    top: 0;
}
.splide__arrow--prev {
    height: 15%;
    width: 15%;
    background: transparent;
    transform: rotate(180deg);
    background: url(../../icons/keyboard_tab_white_24dp.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.splide__arrow--next {
    height: 15%;
    width: 15%;
    background: transparent;
    transform: rotate(0deg);
    background: url(../../icons/keyboard_tab_white_24dp.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.splide__arrow--prev, .splide__arrow--next {
    height: 100%;
    border-radius: 0;
    background-size: 50%;
}

@media (max-width: 480px) {
    .splide__arrow--prev, .splide__arrow--next {
        background-size: 85%;
    }

}
