<!-- sales/templates/admin/sale_summary_change_list.html -->
{% extends "admin/change_list.html" %}


{% load tags_extras %}


{% block content_title %}
    <h1> Sales results </h1>
{% endblock %}


{% block result_list %}
<div class="results">
    <table>
        <thead>
        <tr>
            <th>
                <div class="text">
                    <a href="#">Product</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">Total sold</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">Sales amount</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">
                        <strong>% From sales in total</strong>
                    </a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ row.cart__products__product__title }} </td>
                <td> {{ row.total }} </td>
                <td> {{ row.total_sales | default:0 }} </td>
                <td>
                    <strong>
                        {{ row.total_sales | default:0 | percentof:summary_total.total_sales }}
                    </strong>
                </td>
            </tr>
        {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> Total </td>
                <td> {{ summary_total.total }} </td>
                <td> {{ summary_total.total_sales | default:0 }}$ </td>
                <td> 100% </td>
            </tr>
        </tbody>
    </table>

    <h2> Sales over time </h2>
    <style>
        .bar-chart {
            display: flex;
            justify-content: space-around;
            height: 160px;
            padding-top: 60px;
            overflow: hidden;
        }
        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }
        .bar-chart .bar:last-child {
            margin: 0;
        }
        .bar-chart .bar:hover {
            background-color: #417690;
        }
        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }
        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }
        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>
    <div class="results">
        <div class="bar-chart">
            {% for x in summary_over_time %}
                <div class="bar" style="height:{{x.pct}}%">
                    <div class="bar-tooltip">
                        {{x.total | default:0  }}<br>
                        {{x.period | date:"d/m/Y"}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
