.content_type-blog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blog__content-section {
    width: 100%;
    padding-bottom: 5%;
    position: relative;
}

.blog-posts-container {

}

.blog-posts-container__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
