.content_type-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cart__content-section {
    width: 100%;
    padding-bottom: 5%;
    position: relative;
}

.cart-products-container {

}

.cart-products-container__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.cart__summary-container {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.cart__summary-qty {
    font-size: 2em;
    color: #484016;
}

.cart__summary-priceAndBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart__summary-final-price {
    font-size: 2em;
    color: #484016;
    margin-right: 5%;
}

.cart__summary__checkout-button {
    background: transparent;
    border: 2px solid #484016;
    padding: 15px 30px;
}


@media(max-width: 640px) {
    .cart__summary-qty {
        font-size: 1.5em;
    }

    .cart__summary-final-price {
        font-size: 1.5em;
    }

    .cart__summary-priceAndBtn .action-btn {
        width: 170px;
        height: 50px;
        margin: 10px 0;
    }

    .cart__summary-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}
