.content_type-products {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.products__content-section {
    width: 100%;
    padding-bottom: 5%;
}

.products-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products-container__card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
