.content_type-categories {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.categories__content-section {
    width: 100%;
}

.categories-container {

}

.categories-container__card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
