.content_type-delivery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.delivery__content-section {
    width: 100%;
    padding-bottom: 5%;
    position: relative;
}

.delivery__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.delivery__row {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.to-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.to-shop p {
    padding-top: 2vh;
}

.delivery__col-btn-container {
    margin: auto;
}

.page {
    max-height: 80vh;
}

.poster {
    max-height: 30vh;
    display: block;
}

.poster-img {
    height: auto;
    width: 100%;
}

.poster-delivery-tail {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.poster-delivery-block {
    width: 15%;
}

.v-3 {
    max-height: 50vh;
}

.v-2 {
    max-height: 35vh;
}

.v-1 {
    max-height: 10vh;
}

.delivery__col-text {
    width: 50%;
    padding: 0 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.delivery__header {
    width: 100%;
    padding: 3% 0;
}


.delivery__header h2 {
    text-align: center;
}

.delivery__header h3 {
    width: 100%;
    border-bottom: 2px solid #484016;
}

.delivery__text {
    width: 100%;
    text-align: justify;
}

.delivery__text p {
    width: 100%;
}

.delivery__col-text-poster {
    text-align: center;
}

.delivery__col-img {
    width: 50%;
    display: flex;
}

.delivery__col-images {
    width: 100%;
}

.delivery__col-right img {

}

.poster-delivery-desc {
    text-align: center;
    padding-top: 2vh;
}


@media screen and (max-width: 640px) {
    .about__row {
        display: flex;
        flex-wrap: wrap;
    }

    .about__col-text {
        width: 100%;
    }

    .about__col-img {
        width: 100%;
        padding: 0 5%;
    }
}
