.content_type-main {
    z-index: 0;
    width: 100%;
    padding-bottom: 2%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.main__slider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

.main__content-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
    Товары
*/
.main__goods {
    width: 60%;
    max-height: 100vh;
    background: linear-gradient(144.96deg, #AD9980 18.77%, rgba(197, 179, 158, 0.610053) 78.13%,
                rgba(235, 221, 205, 0) 170.99%);
    position: relative;
    overflow: hidden;
    min-width: 260px;
}

.main__popular__background-circle {
    width: 250px;
    height: 250px;
    background: linear-gradient(156.37deg, rgba(179, 223, 199, 0.8) 15.22%,
                rgba(235, 221, 205, 0) 86.83%);
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
    top: 3%;
    right: 10%;
    position: absolute;
}

.goods-container {
    width: 100%;
    position: relative;
    padding: 35px 0;
    height: 100%;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.goods-container__header {
    padding: 0 0 85px 0;
}

.goods-container__header h2 {
    width: 205px;
}

.goods-container__card-wrapper {
    width: 100%;
}

/*
    Конец товары
*/

/*
    Популярные товары
*/
.main__popular {
    width: 33%;
    max-height: 100vh;
    background: linear-gradient(206.66deg, #C1E4C9 53.33%, rgba(202, 228, 193, 0.00520833) 116.63%,
    rgba(202, 228, 193, 0) 116.64%);
    min-width: 260px;
}

.popular-container {
    width: 100%;
    position: relative;
    padding: 35px 0;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.popular-container__header {
    padding: 0 0 85px 0;
}

.popular-container__header h2 {
    width: 260px;
}

.popular-container__card-wrapper {
    width: 100%;
}

.popular__card {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 60px 0;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.popular__card:nth-child(1) {
    margin-top: 0;
}
.popular__card:nth-last-child {
    margin-bottom: 0;
}

.popular__card-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.popular__card-background img {
    width: 100%;
    margin: 0 auto;
}

.popular__card-body {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, .95);
    padding: 10px;
    color: #302D1D;
    bottom: 0;
    left: 0;
}

.popular__card-body-header h3 {
    font-size: 1.1em;
    line-height: 1.6em;
}

.popular__card-body-description p {
    font-size: 14px;
}

.popular__card-body-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.popular__card-body-footer-price {
    font-size: 15px;
}

.popular__card-body-footer-price--discount p {
    font-size: 21px;
}

.popular__card-body-footer-price p,
.popular__card-body-footer-price--discount p {
    text-decoration: underline;
    text-decoration-color: #302D1D;
}
/*
    Конец популярные товары
*/


@media (max-width: 1200px) {
    .containerr {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .containerr {
        max-width: 960px;
    }

    .main__goods {
        width: 100%;
    }

    .main__popular {
        width: 100%;
        margin: 5% 0 125px 0;
    }
}

@media (max-width: 768px) {
    .containerr {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .containerr {
        max-width: 540px;
    }
}
