.content_type-prod-detail {
    width: 100%;
    padding: 5% 0;
    max-width: 1920px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.product-photoviewer-specification-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product__photoviewer-container {
    width: 50%;
}

.product__photoviewer {
    width: 100%;
}

.product__photoviewer__viewer {
    width: 100%;
    /*max-height: 765px;*/
    padding-bottom: 10px;
}

.viewer__arrows {

}

.viewer__arrow {
    z-index: 1;
}
.viewer__arrow--prev {
    height: 15%;
    width: 15%;
    background: transparent;
    transform: rotate(180deg);
    background: url(../../icons/keyboard_tab_white_24dp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}


.viewer__arrow--next {
    height: 15%;
    width: 15%;
    background: transparent;
    transform: rotate(0deg);
    background: url(../../icons/keyboard_tab_white_24dp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.product__photoviewer-container .product__photoviewer__viewer img {
    max-width: 100%;
    max-height: 100%;
}

.prod-detail__product-specification-container {
    width: 50%;
    display: flex;
}

.product-about {
    width: 100%;
    padding: 0 4%;
}

.product-about__header-container {
    width: 100%;
    padding-top: 4%;
    text-align: center;
}

.product-about__header-container h2 {
    width: 100%;
    line-height: 1em;
    border-bottom: 2px solid #484016;
}

.product-about__price-container {
    width: 100%;
    text-align: center;
    padding: 4% 0;
    justify-content: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.product-about__price-container h2 {
    position: relative;
    left: -15px;
    line-height: 1em;
    font-size: 1.3em;
}

.product-about__price-container h4 {
    line-height: 1em;
    border-bottom: 2px solid #484016;
}

.product-about__common-description-container {
    width: 100%;
}

.product-about__chooser-container {
    width: 55%;
    padding: 5% 0 0 0;
}

.product-about__chooser-container .product__chooser {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #FFFFFF;
    border-left-color: #484016;
    border-bottom-color: #484016;
    background: transparent;
    background-image: url(../../icons/keyboard_tab_brown_24dp_90deg.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.product-about__chooser-container .chooseColor {

}

.product-tile__colors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-tile__colors-item {

}

.product-tile__colors-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
}

.product-tile__colors-link_state_active {
    border-color: #484016;
}

.product-tile__colors-content {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 10px;
    line-height: 16px;
    color: #4d4b4b;
}

.product-tile__colors-content:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.chooseColor .color-value {

}

.chooseColor .color-value-active {

}

.product-about__buy-button-container {
    width: 100%;
    justify-content: center;
}

.product__buy-button-container .buy-button {
    width: 100%;
    padding: 3% 0;
    margin: 5% 0 0 0;
    font-size: 1.3em;
    text-align: center;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-left-color: #484016;
    border-bottom-color: #484016;
}

.product__delivery-button-container {
    width: 45%;
    justify-content: flex-start;
    padding: 7% 0;
}

.product__delivery-button-container .delivery-button {
    width: 100%;
    padding: 1% 3%;
    font-size: 1.3em;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-left-color: #484016;
    border-bottom-color: #484016;
}

.product-detail__header-container {
    padding: 5% 0 2% 0;
    width: 100%;
}

.product-detail__header-container h3 {
    width: 35%;
    color: #484016;
    text-align: center;
    line-height: 1em;
    border-bottom: 2px solid #484016;
}

.product-detail__table {
    width: 100%;
    border: none;
    color: #484016;
}

.product-detail__table td {
    padding-top: 3%;
    font-size: 22px;
    line-height: .8em;
    border-bottom: 2px solid #484016;
}


@media screen and (max-width: 1086px) {
    .prod-detail__product-specification-container {
        width: 100%;
    }
}
