.content_type-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.profile__content-section {
    width: 100%;
    padding-bottom: 5%;
    position: relative;
}

.profile-products-container {

}

.profile-products-container__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.profile__summary-container {
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    left: 0;
    bottom: 0;
}

.profile__summary-qty {
    font-size: 2em;
    color: #484016;
    width: 50%;
}

.profile__summary-priceAndBtn {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
}

.profile__summary-final-price {
    font-size: 2em;
    color: #484016;
    margin-right: 5%;
}

.profile__summary__order-button {
    background: transparent;
    border: 2px solid #484016;
    border-top: 2px solid #807268;
    border-right: 2px solid #807268;
    padding: .8em 1.8em;
    color: #302D1D;
}
