{% extends 'base.html' %}
{% load static %}


{% block title %}
    About
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-about">
        <div class="page-header">
            <h1 class="text__page-header">
                About
            </h1>
        </div>

        <div class="about__content-section">
            <div class="about__container">
                <div class="about__row">
                    <div class="about__col-text">
                        <div class="about__header">
                            <h3>Title</h3>
                        </div>
                        <div class="about__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi
                                asperiores consequatur doloribus enim eum id minus, nam obcaecati odio saepe similique
                                tenetur veniam vero vitae, voluptas? At, facere.
                            </p>
                        </div>
                    </div>
                    <div class="about__col-img">
                        <img src="https://images.unsplash.com/photo-1612832164065-fc35ded2a291?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                </div>
                <div class="about__row">
                    <div class="about__col-text">
                        <div class="about__header">
                            <h3>Title</h3>
                        </div>
                        <div class="about__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi
                                asperiores consequatur doloribus enim eum id minus, nam obcaecati odio saepe similique
                                tenetur veniam vero vitae, voluptas? At, facere.
                            </p>
                        </div>
                    </div>
                    <div class="about__col-img">
                        <img src="https://images.unsplash.com/photo-1612832164065-fc35ded2a291?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                </div>
                <div class="about__row">
                    <div class="about__col-text">
                        <div class="about__header">
                            <h3>Title</h3>
                        </div>
                        <div class="about__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi
                                asperiores consequatur doloribus enim eum id minus, nam obcaecati odio saepe similique
                                tenetur veniam vero vitae, voluptas? At, facere.
                            </p>
                        </div>
                    </div>
                    <div class="about__col-img">
                        <img src="https://images.unsplash.com/photo-1612832164065-fc35ded2a291?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>

{% endblock %}
