{% extends 'base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/blog.css' %}"              rel="stylesheet">
    <link href="{% static 'css/cards/blog_card.css' %}"         rel="stylesheet">
    <link href="{% static 'css/components/pagination.css' %}"   rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-blog">
        <div class="page-header">
            <h1 class="text__page-header">
                Our blog
            </h1>
        </div>

        <div class="blog__content-section">
            <div class="blog-posts-container">
                <div class="blog-posts-container__card-wrapper">

                    {% for post in posts %}

                        {% include 'include/blog_card.html' %}

                    {% endfor %}


                    {% include 'include/pagination.html' %}

                </div>
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>
{% endblock %}

