{% extends 'base.html' %}
{% load static %}


{% block title %}
    Cart
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/cart.css' %}"                rel="stylesheet">
    <link href="{% static 'css/cards/product_cart_card.css' %}"   rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-cart">
        <div class="page-header">
            <h1 class="text__page-header">
                Cart
            </h1>
        </div>

        <div class="cart__content-section">
            <div class="cart-products-container">
                <div class="cart-products-container__card-wrapper">

                    {% for cart_product in cart_products %}

                        {% include 'include/product_cart_card.html' %}

                    {% endfor %}

                </div>
            </div>

            <div class="cart__summary-container">
                <div class="cart__summary-qty">
                    <p>TOTAL: {{ cart.total_products }}</p>
                </div>
                <div class="cart__summary-priceAndBtn">
                    <div class="cart__summary-final-price">
                        <p>{{ cart.final_price }}$</p>
                    </div>
                    <a href="{% url 'orders:checkout' %}">
                        <button class="action-btn">Submit</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
