{% extends 'base.html' %}
{% load static %}


{% block title %}
    Category {{ category.name }}
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/category_detail.css' %}"       rel="stylesheet">
    <link href="{% static 'css/cards/category_product_card.css' %}" rel="stylesheet">
    <link href="{% static 'css/cards/category_product_card.css' %}" rel="stylesheet">
    <link href="{% static 'css/components/filter.css' %}"           rel="stylesheet">
    <link href="{% static 'css/components/pagination.css' %}"       rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-products">

        <div class="page-header">
            <div class="page-header__filter-container">
                <button class="filter-btn"></button>
            </div>
            <h1 class="text__page-header">
                {{ category.name.upper }}
            </h1>
        </div>

        {% include 'include/filter.html' %}

    
        <div class="products__slider-container"></div>
        <div class="products__content-section">
            <div class="products-container">
                <div class="products-container__card-wrapper">

                    {% for record in category_products %}

                        {% include 'include/category_product_card.html' %}

                    {% endfor %}

                </div>


                {% include 'include/pagination.html' %}
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>

    <script>
        let priceMinCategory = {{ category_price_min }};
        let priceMaxCategory = {{ category_price_max }};

        let priceMin = 1;
        let priceMax = 1;

        if ({{ filter_form.price_min.value }} || {{ filter_form.price_max.value }}) {
            priceMin = {{ filter_form.price_min.value }};
            priceMax = {{ filter_form.price_max.value }};
        }


    </script>
{% endblock %}


{% block js %}
    <script src="{% static 'js/nouislider.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/category_detail.js' %}" type="text/javascript"></script>
{% endblock %}
