{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Checkout
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/checkout.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-checkout">
        <div class="page-header">
            <h1 class="text__page-header">
                Checkout
            </h1>
        </div>

        <div class="checkout__content-section">
            <div class="checkout__container">

                <div class="checkout__form">

                    <form action="{% url 'orders:make_order' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-field checkout__form-field">
                            {{ form.first_name }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ form.last_name }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ form.phone }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ form.comment }}
                        </div>

                        <h3>Shipping</h3>
                        <div class="form-field checkout__form-field">
                          <p>Approximate delivery time</p>
                          {{ delivery_date }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ formset.address }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ formset.city }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ formset.region }}
                        </div>
                        <div class="form-field checkout__form-field">
                            {{ formset.zipcode }}
                        </div>
                        <input type="submit" class="action-btn" value="Submit">
                    </form>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
