{% extends 'base.html' %}
{% load static %}


{% block title %}
    Shipping
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/delivery.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-delivery">
        <div class="page-header">
            <h1 class="text__page-header">
                Shipping
            </h1>
        </div>

        <div class="delivery__content-section">
            <div class="delivery__container">
                <div class="delivery__row page v-3">
                    <div class="delivery__col-text">
                        <div class="delivery__header">
                            <h1>Fast shipment of any product to your home today</h1>
                        </div>
                    </div>
                    <div class="delivery__col-img">
                        <img class="img-fluid" src="{% static 'images/delivery-box_2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="delivery__row poster-headline">
                </div>
                <div class="poster v-3">
                    <div class="delivery__header">
                        <h2>Four simple actions</h2>
                    </div>
                    <div class="poster-delivery-tail">
                        <div class="poster-delivery-block">
                            <img src="{% static 'icons/shopping_bag_brown_24dp.svg' %}" alt="" class="poster-img">
                            <div class="poster-delivery-desc">
                                <p>Choose a product in the store and place an order</p>
                            </div>
                        </div>
                        <div class="poster-delivery-block">
                            <img src="{% static 'icons/call-center-girl_brown.svg' %}" alt="" class="poster-img">
                            <div class="poster-delivery-desc">
                                <p>Our operator will contact you to clarify your order</p>
                            </div>
                        </div>
                        <div class="poster-delivery-block">
                            <img src="{% static 'icons/local_shipping_brown_24dp.svg' %}" alt="" class="poster-img">
                            <div class="poster-delivery-desc">
                                <p>Your order will be formed and shipped by delivery service</p>
                            </div>
                        </div>
                        <div class="poster-delivery-block">
                            <img src="{% static 'icons/package_brown.svg' %}" alt="" class="poster-img">
                            <div class="poster-delivery-desc">
                                <p>Pick up your order and wear it with pleasure</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="delivery__row page to-shop v-3">
                    <div class="delivery__header to-shop">
                        <h1>It really is that simple.!</h1>
                        <p>Start enriching your collection with fashion items today</p>
                    </div>
                    <div class="delivery__col-btn-container">
                        <a href="{% url 'categories' %}">
                            <button class="action-btn">To shopping</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>

{% endblock %}
