{% extends 'base.html' %}
{% load static %}


{% block title %}
    FAQ
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/faq.css' %}" rel="stylesheet">
    <link href="{% static 'css/extensions/accordion.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-faq">
        <div class="page-header">
            <h1 class="text__page-header">
                FAQ
            </h1>
        </div>

        <div class="faq__content-section">
            <div class="faq__container">

                <div class="accordion-container">
                    {% for f in faq %}
                    <div class="ac">
                        <h2 class="ac-header">
                            <button class="ac-trigger">
                                {{ f.question }}
                            </button>
                        </h2>
                        <div class="ac-panel">
                            <p class="ac-text">
                                {{ f.answer }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/faq.js' %}"></script>
{% endblock %}
