{% extends 'base.html' %}
{% load static %}


{% block title %}Online Store{% endblock %}

{% block styles %}
    <link href="{% static 'css/cards/popular_card.css' %}"      rel="stylesheet">
    <link href="{% static 'css/cards/goods_card.css' %}"        rel="stylesheet">

    <!-- Splide css -->
    <link href="{% static 'css/extensions/splide.min.css' %}"   rel="stylesheet">
    <link href="{% static 'css/extensions/splideCustom.css' %}"  rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="content_type-main">

        {% if slides %}
            <div class="main__slider-container">
                <div class="main__photoviewer__viewer">
                    <div id="primary-slider" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for slide in slides %}
                                    <li class="splide__slide">
                                        <img src="{{ slide.banner_img.url }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="main__content-section">
            <div class="main__goods">
                <div class="goods-container">
                    <div class="goods-container__header">
                        <h2 class="text--brownAndWhite-outlined text--outlined-without-left text--beige">
                            PRODUCTS
                        </h2>
                    </div>
                    <div class="goods-container__card-wrapper">
                        {% for trend_product in trend_products %}

                            {% include 'include/goods_card.html' %}

                        {% endfor %}
                    </div>
                </div>
                <div class="main__popular__background-circle"></div>
            </div>

            <div class="main__popular">
                <div class="popular-container">
                    <div class="popular-container__header">
                        <h2 class="text--brownAndWhite-outlined text--outlined-without-left text--brown">
                            POPULAR
                        </h2>
                    </div>
                    <div class="popular_container__card-wrapper">

                        {% for popular_product in popular_products %}

                            {% include 'include/popular_card.html' %}

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <!-- Splide JS -->
    <script type="text/javascript" src="{% static 'js/splide.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/splideCustomMainPage.js' %}"></script>
{% endblock %}
