{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ product.title }}
{% endblock %}

{% block styles %}
    <!-- Splide css -->
    <link rel="stylesheet" href="{% static 'css/extensions/splide.min.css' %}">

    <link href="{% static 'css/extensions/splideCustom.css' %}"  rel="stylesheet">
    <link href="{% static 'css/pages/product_detail.css' %}"    rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-prod-detail">

        <div class="product-photoviewer-specification-row">

            <div class="product__photoviewer-container">
                <div class="product__photoviewer">

                    <div class="product__photoviewer__viewer">
                        <div id="primary-slider" class="splide">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {% for photo in product_images %}
                                    <li class="splide__slide">
                                        <img src="{{ photo.image.url }}">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="product__photoviewer__carousel">
                        <div id="secondary-slider" class="splide">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {% for photo in product_images %}
                                        <li class="splide__slide">
                                            <img src="{{ photo.image.url }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="prod-detail__product-specification-container">
                <div class="product-about">
                    {% if product.variant == 'None' %}
                        <div class="product-about__header-container">
                            <h2>{{ product.title }}</h2>
                        </div>
                    {% else %}
                        <div class="product-about__header-container">
                            <h2>{{ variant.title }}</h2>
                        </div>
                    {% endif %}

                    {% if product.variant == 'None' %}

                        <div class="product-about__price-container">
                            {% if product.discount_price %}
                                <h2><del>{{ product.price }} $</del></h2>
                                <h4 class="text--red">{{ product.discount_price }} $</h4>
                            {% else %}
                                <h4>{{ product.price }} $</h4>
                            {% endif %}
                        </div>
                        <div class="product-about__common-description-container">
                            <p class="product-about__common-description">
                                {{ product.description | safe }}
                            </p>
                        </div>

                    {% elif product.variant == 'Size-Color' %}

                        <div class="product-about__price-container">
                            {% if variant.discount_price %}
                                <h2><del>{{ variant.price }} $</del></h2>
                                <h4 class="text--red">{{ variant.discount_price }} $</h4>
                            {% else %}
                                <h4>{{ variant.price }} $</h4>
                            {% endif %}
                        </div>
                        <div class="product-about__common-description-container">
                            <p class="product-about__common-description">
                                {{ product.description | safe }}
                            </p>
                        </div>

                        <div class="product-options">

                            <div class="product-about__chooser-container chooseColor">
                                <ul class="product-tile__colors-list">
                                    {% for c in colors %}
                                        <a href="{% url 'product:product_variant' category=product.category.slug slug=product.slug color=c.color.id  %}" class="color-value" data-product_id="{{ product.id }}" data-variant_id="{{ c.id }}" data-color_id="{{ c.color.id }}">
                                            <li class="product-tile__colors-item">
                                                <a href="{% url 'product:product_variant' category=product.category.slug slug=product.slug color=c.color.id  %}"
                                                   data-product_id="{{ product.id }}"
                                                   data-variant_id="{{ c.id }}"
                                                   data-color_id="{{ c.color.id }}"
                                                   class="product-tile__colors-link {% if c.color.id == variant.color.id %} product-tile__colors-link_state_active {% endif %}">
                                                    <span class="product-tile__colors-content" style="background-color: {{ c.color.code }}">
                                                    </span>
                                                </a>
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="product-about__chooser-container">
                                <select name="size" id="product_size" class="product__chooser" onchange="location = this.value;">
                                    {% for s in sizes %}
                                        <option {% if variant.id == s.id %} selected {% endif %} value="{% url 'product:product_variant' category=product.category.slug slug=product.slug variant=s.id  %}" data-product_id="{{ product.id }}" data-variant_id="{{ s.id }}">
                                            {{ s.size.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                    {% elif product.variant == 'Size' %}

                        <div class="product-about__price-container">
                            {% if variant.discount_price %}
                                <h2><del>{{ variant.price }} $</del></h2>
                                <h4 class="text--red">{{ variant.discount_price }} $</h4>
                            {% else %}
                                <h4>{{ variant.price }} $</h4>
                            {% endif %}
                        </div>
                        <div class="product-about__common-description-container">
                            <p class="product-about__common-description">
                                {{ product.description | safe }}
                            </p>
                        </div>

                        <div class="product-options">

                            <div class="product-about__chooser-container">
                                <select name="size" id="product_size" class="product__chooser" onchange="location = this.value;">
                                    {% for s in sizes %}
                                        <option {% if variant.id == s.id %} selected {% endif %} value="{% url 'product:product_variant' category=product.category.slug slug=product.slug variant=s.id  %}" data-product_id="{{ product.id }}" data-variant_id="{{ s.id }}">
                                            {{ s.size.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                    {% elif product.variant == 'Color' %}

                        <div class="product-about__price-container">
                            {% if variant.discount_price %}
                                <h2><del>{{ variant.price }} $</del></h2>
                                <h4 class="text--red">{{ variant.discount_price }} $</h4>
                            {% else %}
                                <h4>{{ variant.price }} $</h4>
                            {% endif %}
                        </div>
                        <div class="product-about__common-description-container">
                            <p class="product-about__common-description">
                                {{ product.description | safe }}
                            </p>
                        </div>

                        <div class="product-options">

                            <div class="product-about__chooser-container chooseColor">
                                <ul class="product-tile__colors-list">
                                    {% for c in colors %}
                                            <li class="product-tile__colors-item">
                                                <a href="{% url 'product:product_variant' category=product.category.slug slug=product.slug color=c.color.id variant=c.id  %}"
                                                   data-product_id="{{ product.id }}"
                                                   data-variant_id="{{ c.id }}"
                                                   data-color_id="{{ c.color.id }}"
                                                   class="product-tile__colors-link {% if c.color.id == variant.color.id %} product-tile__colors-link_state_active {% endif %}">
                                                    <span class="product-tile__colors-content" style="background-color: {{ c.color.code }}">
                                                    </span>
                                                </a>
                                            </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>

                    {% endif %}

                    <div class="product__buy-button-container">
                        {% if product.variant == 'None' %}
                            <a href="{% url 'orders:add_to_cart' category=product.category.slug slug=product.slug %}">
                                <button class="buy-button text--red" data-goods_id="{{ product.id }}" data-action="addToCart">TO CART</button>
                            </a>
                        {% else %}
                            <a href="{% url 'orders:add_to_cart' category=product.category.slug slug=product.slug variant=variant.id %}">
                                <button class="buy-button text--red" data-goods_id="{{ product.id }}" data-action="addToCart">TO CART</button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="product__delivery-button-container">
                        <a href="{% url 'delivery_view' %}">
                            <p class="delivery-button">SHIPPING</p>
                        </a>
                    </div>
                </div>
            </div>

            {% include 'include/product_specifications.html' %}
        </div>


        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>
    </div>

{% endblock content %}

{% block js %}
    <!-- Custom js -->
    <script src="{% static 'js/product_detail.js' %}"></script>

    <!-- Splide JS -->
    <script type="text/javascript" src="{% static 'js/splide.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/splideCustom.js' %}"></script>
{% endblock %}
