{% extends 'base.html' %}
{% load static %}


{% block title %}
    Discounts
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/category_detail.css' %}"       rel="stylesheet">
    <link href="{% static 'css/cards/category_product_card.css' %}" rel="stylesheet">
    <link href="{% static 'css/components/pagination.css' %}"       rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-products">

        <div class="page-header">
            <h1 class="text__page-header">
                DISCOUNTS
            </h1>
        </div>

        <div class="products__slider-container"></div>
        <div class="products__content-section">
            <div class="products-container">

                {% if not category_products %}

                    <h2>Товаров со скидкой нет</h2>

                {% elif category_products %}

                    <div class="products-container__card-wrapper">


                        {% for record in category_products %}

                            {% include 'include/category_product_card.html' %}

                        {% endfor %}

                    </div>
                    {% include 'include/pagination.html' %}

                {% endif %}
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/category_detail.js' %}"></script>
{% endblock %}
