{% extends 'base.html' %}
{% load static %}


{% block title %}
    purchase history
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/profile.css' %}"       rel="stylesheet">
    <link href="{% static 'css/cards/order_card.css' %}"    rel="stylesheet">
    <link href="{% static 'css/modals/order_modal.css' %}"  rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content_type-profile">
        <div class="page-header">
            <h1 class="text__page-header">
                Purchase history
            </h1>
        </div>

        <div class="profile__content-section">
            <div class="profile-products-container">
                <div class="profile-products-container__card-wrapper">

                    {% if not orders.count %}

                        <h3>
                           You don't have orders yet <a href="{% url 'base' %}">go shopping</a>
                        </h3>

                    {% elif orders.count %}

                        {% for order in orders %}

                            {% include 'include/order_card.html' %}

                        {% endfor %}

                    {% endif %}

                </div>
            </div>


        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>

    {% for order in orders %}

        {% include 'include/order_modal.html' %}

    {% endfor %}

{% endblock %}
