{% extends 'base.html' %}
{% load static %}


{% block title %}
    Search results
{% endblock %}

{% block styles %}
    <link href="{% static 'css/pages/category_detail.css' %}"       rel="stylesheet">
    <link href="{% static 'css/components/filter.css' %}"           rel="stylesheet">
    <link href="{% static 'css/cards/category_product_card.css' %}" rel="stylesheet">
    <link href="{% static 'css/components/filter.css' %}"           rel="stylesheet">
    <link href="{% static 'css/components/pagination.css' %}"       rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-products">

        <div class="page-header">
{#            <div class="page-header__filter-container">#}
{#                <button class="filter-btn"></button>#}
{#            </div>#}
            <h1 class="text__page-header">
                SEARCH
            </h1>
        </div>

{#        {% include 'include/filter.html' %}#}
    
        <div class="products__slider-container"></div>
        <div class="products__content-section">
            <div class="products-container">
                <div class="products-container__card-wrapper">

                    {% for record in products %}

                        {% include 'include/category_product_card.html' %}

                    {% endfor %}

                </div>


                {% include 'include/pagination_search.html' %}
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/category_detail.js' %}" type="text/javascript"></script>
{% endblock %}
