.blog-post__card {
    width: 100%;
    height: 300px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 2% 0;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.15);
}

.blog-post__card-body {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, .95);
    padding: 10px;
    color: #302D1D;
    justify-content: center;
}

.blog-post__card-body h3 {
    font-size: 30px;
    border: 2px solid #8F8176;
    border-left: none;
    border-right: none;
}

.blog-post__card-body--post-img {
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post__card-post-info {
    display: flex;
    width: 70%;
    height: 100%;
    padding: 4% 2%;
    margin-bottom: 3%;
    flex-direction: column;
}

.blog-post__card-body-date p {
    color: #807268;
    font-size: 0.9em;
}

.blog-post__card-body-title {
    font-size: 1.8em;
    border-bottom: 2px solid #302D1D;
    color: #302D1D;
}

.blog-post__card-body-title h4 {
    font-size: 1.1em;
}

.blog-post__card-body-description {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    font-size: 1.3em;
}

.blog-post__card-body-description p {
    font-size: 1em;
}

.blog-post__card-post-info__btn-container {
    position: absolute;
    bottom: 5%;
}

.blog-post__card-post-info__btn {
    width: 140%;
    min-width: 200px;
    background: transparent;
    border: 2px solid #484016;
    padding: 15px 30px;
    font-size: 1.4em;
}


@media screen and (max-width: 860px) {
    .blog-post__card {

    }

    .blog-post__card-body-title {
        font-size: 1.3em;
    }

    .blog-post__card-body-description {
        font-size: 1.1em;
    }

    .blog-post__card-body-date p {
        font-size: 0.8em;
    }

    .blog-post__card-post-info__btn {
        width: 100%;
        padding: 8px 20px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .blog-post__card-post-info__btn {
        width: 100%;
        padding: 4px 10px;
        font-size: 1em;
    }
}
