.category__card {
    width: calc(33.33% - 33.3px);
    height: 300px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 0 50px 50px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category__card-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__card-background a {
    width: 100%;
    height: 100%;
}

.category__card-background img {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category__card-body {
    width: 101%;
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, .9);
    padding: 25px 10px;
    color: #302D1D;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
}

.category__card-body h3 {
    font-size: 1.9em;
    border: 2px solid #8F8176;
    border-bottom: 2px solid #302D1D;
    border-left: none;
    border-right: none;
    text-align: center;
}


@media screen and (max-width: 2560px) and (min-width: 1024px) {
    .category__card:nth-child(3n) {
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
    .category__card {
        width: calc(33% - 33.33px);
    }

    .category__card:nth-child(3n) {
        margin: 0 0 20px 0;
    }

    .category__card-body h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .category__card {
        width: calc(50% - 25px);
    }

    .category__card:nth-child(2n) {
        margin: 0 0 20px 0;
    }

    .category__card-body h3 {
        font-size: 1.3em;
    }
}
