.products__card {
    /*width: 350px;*/
    width: calc(25% - 15px);
    /*height: 450px;*/
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 0 20px 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products__card-container {
    position: relative;
    height: 450px;
}

.products__card-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.products__card-background a {
    width: 100%;
    height: 100%;
}

.products__card-background img {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__card-body {
    width: 101%;
    padding: 10px 25px;
    padding-bottom: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .95);
    color: #302D1D;
    bottom: 0;
}

.products__card-body-price-btn {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.products__card-body-header h3 {
    font-size: 1.3em;
    border-bottom: 2px solid #8F8176;
}

.products__card-body-header {
    width: 100%;
    margin-bottom: 15px;
}

.products__card-body-price-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.products__card-body-price-container > .product-price--discount {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #484016;
    font-size: 1em;
}

.products__card-body-price-container > .product-price {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #484016;
    font-size: 1.4em;
}

.products__card-body__buy-button-wrapper {
    position: relative;
    align-self: flex-end;
}

.products__card-body__buy-button {
    margin: 0;
    width: auto;
}


@media screen and (max-width: 2560px) and (min-width: 1024px) {
    .products__card:nth-child(4n) {
        margin: 0 0 20px 0;
    }
}


@media screen and (max-width: 1024px) and (min-width: 601px) {
    .products__card {
        width: calc(33.33% - 13.33px);
    }

    .products__card:nth-child(3n) {
        margin: 0 0 20px 0;
    }

    .products__card-body-header h3 {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .products__card {
        width: calc(50% - 10px);
    }

    .products__card:nth-child(2n) {
        margin: 0 0 20px 0;
    }

    .products__card-body-header h3 {
        font-size: 1em;
    }
}
