/*
    Начало карточка товара
*/
.goods__card {
    width: 100%;
    height: 250px;
    position: relative;
    margin: 60px 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.goods__card:nth-child(1) {
    margin-top: 0;
}
.goods__card:nth-last-child {
    margin-bottom: 0;
}

.goods__card-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.goods__card-background img {
    width: 100%;
    margin: 0 auto;
}

.goods__card-body {
    position: absolute;
    width: 230px;
    height: 100%;
    background: rgba(255, 255, 255, .95);
    padding: 25px 10px;
    color: #302D1D;
    top: 0;
    left: 0;
}

.goods__card-body-header h3 {
    font-size: 20px;
    line-height: 1.6em;
}

.goods__card-body-description p {
    font-size: 14px;
}

.goods__card-body-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 90%;
}

.goods__card-body-footer-price {
    font-size: 1.5em;
    width: 100%;
}

.goods__card-body-footer-price p {
    float: right;
}

.goods__card-body-footer-price--with-discount {
    font-size: 1em;
    width: 100%;
    align-self: center;
}

.goods__card-body-footer-price--with-discount p {
    float: left;
}

.goods__card-body-footer-price--discount p {
    font-size: 1.5em;
}

.goods__card-body-footer-price p,
.goods__card-body-footer-price--discount p {
    text-decoration: underline;
    text-decoration-color: #302D1D;
}
/*
    Конец карточка товара
*/
