.profile-products__card {
    width: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: .5em 0;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
}

.profile-products__card-body {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, .95);
    padding: 10px;
    color: #302D1D;
    justify-content: center;
}

.profile-products__card-body h3 {
    font-size: 30px;
    border: 2px solid #8F8176;
    border-left: none;
    border-right: none;
}

.profile-products__card-body--product-img {
    display: flex;
    width: 20%;
    justify-content: center;
}

.profile-products__card-body__product-info {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    flex-direction: column;
}

.profile-products__card-body-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body-info--col {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.card-body-info--col h4{
    width: 100%;
    border-bottom: 2px solid #484016;
}

.card-body-info--col p {
    font-size: 1.2em;
    padding-top: 5%;
}

.profile-products__card-body-title {

}

.profile-products__card-body-total-sum {
    text-align: right;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: .5em;
}
.profile-products__card-body-total-sum p {
    font-size: 1.8em;
}

