.cart-products__card {
    width: 100%;
    height: 200px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 2% 0;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
}

.cart-products__card-body {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, .95);
    padding: 10px;
    color: #302D1D;
    justify-content: center;
}

.cart-products__card-body h3 {
    font-size: 30px;
    border: 2px solid #8F8176;
    border-left: none;
    border-right: none;
}

.cart-products__card-body--product-img {
    width: 135px;
    min-width: 135px;
    height: 130px;
    display: flex;
    justify-content: center;
}

.cart-products__card-body__product-info {
    display: flex;
    position: relative;
    width: 80%;
    padding: 10px;
    flex-direction: column;
}

.cart-products__card-body-title {

}

.cart-products__card-body-counter form {
    display: flex;
}

.cart-products__card-body-counter form > .action-btn {
    margin: 0;
    width: 150px;
    height: 35px;
}

.counter-product {
    display: inline-block;
    position: relative;
    width: 100px;
}

.counter-product input[type="number"] {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    background: transparent;
    border-top: 2px solid #302D1D;
    border-bottom: 2px solid #302D1D;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
.counter-product input[type="number"]::-webkit-outer-spin-button,
.counter-product input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.counter-product--minus {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: 1px solid #302D1D;
    background: transparent;
    border-right: none;
    font-size: 16px;
    font-weight: 600;
}
.counter-product--plus {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: 1px solid #302D1D;
    background: transparent;
    border-left: none;
    font-size: 18px;
    font-weight: 600;
}

.cart-products__card-body-total-sum {
    text-align: right;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.cart-products__card-body-total-sum p {
    font-size: 1.8em;
}

.cart-products__remove-button {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    right: 0;
    padding: 2px;
    border: 1px solid #484016;
    background: url('../../icons/close_brown_24dp.svg') no-repeat 0 0;
    background-size: cover;
}

.cart-img-link {
    min-height: 100px;
}

@media(max-width: 550px) {

    .cart-products__card-body--product-img {
        width: 100px;
        min-width: 100px;
    }

    .cart-products__card-body-title {
        margin-bottom: 10px;
    }

    .cart-products__card-body h4 {
        font-size: 1.2em;
    }
}
