.filter-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #FDFBF9;
    top: 130px;
    left: 1%;
    width: 98%;
    visibility: hidden;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-form-header {
    width: 50%;
    padding-left: 20px;
    color: #302D1D;
    border-bottom: 1px solid #000000;
}

.close__filter-btn {
    background: transparent;
    background: url(../../icons/keyboard_tab_brown_24dp.svg) no-repeat center;
    background-size: cover;
    transform: rotate(-90deg);
    padding: 1.3em;
    position: absolute;
    right: 1%;
    top: 5%;
    display: inline-block;
    vertical-align: middle;
    border: none;
}

.filter-form__filters {
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.filter-form__filters-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1%;
}

.filter-form__filters-col ul {
    list-style: none;
    padding: 0;
}

.filter-form__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filter-form__filters-wrapper ul {
    list-style: none;
    padding: 0;
}

.filter-form__filters-wrapper span {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.filter-form__filters-wrapper span:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.filter-form__filters-wrapper ul {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 90px;
    overflow: auto;
    position: relative;
}

.filter-form__filters-wrapper.visible ul {
    display: block;
}

.filter-form__filters-submit-btn {
    background: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: 1px solid #302D1D;
    border-top: 1px solid #807268;
    border-right: 1px solid #807268;
}


.filter-form__filters-price {
    max-width: 200px;
}

.price-slider-horizontal {
    width: 100%;
}

.price-minmax-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price-minmax-container input[type=number] {
    padding: 0;
    width: 45%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding: 0;
    width: 30%;
}


