.navbar {
    height: 60px;
    background: #EBDDCD;
    opacity: 0.8;
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.navbar-categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
}

.navbar-categories__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-categories__item-link:hover {
    background: rgba(255,255,255,.4);
}

.navbar-categories__item-link,
.navbar-categories__item-link:hover {
    display: flex;
    font-size: 0.85em;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justified;
    text-decoration: none;
    color: #484016;
    padding: 1px 3px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #484016;
}

@media (max-width: 640px) {
    .navbar {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .navbar {
        background: #EBDDCD;
        padding: 0 1em;
    }
}

@media (max-width: 480px) {
    /* Hide the links inside the navigation menu (except for logo/home) */
    .navbar-container {
        width: 100%;
        display: none;
    }

    .navbar {
        height: 100%;
        padding: 1em;
        opacity: 1;
    }

    .navbar-categories {
        display: block;
    }

    .navbar-categories__item {
        height: 50px;
    }

    .navbar-categories__item-link {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
}
