.pagination {
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 2px 0;
    position: relative;
    align-self: center;
    align-items: center;
    border-radius: 0;
    border-top: 2px solid #807268;
    border-bottom: 2px solid #807268;
}

.pagination-action--next {
    background: transparent;
    background: url(../../icons/keyboard_tab_brown_24dp.svg) no-repeat center;
    background-size: contain;
    top: 50%;
    transform: translate(0,-50%) rotate(0deg);
    right: 10%;
}

.pagination-action--prev {
    background: transparent;
    background: url(../../icons/keyboard_tab_brown_24dp.svg);
    background-size: contain;
    top: 50%;
    transform: translate(0,-50%) rotate(180deg);
    left: 10%;
}

.pagination-action--next, .pagination-action--prev {
    display: inline-block;
    padding: 0.5em;
    font-size: 1.3em;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
}

.pagination-number {
    padding: 0.5em 0.8em;
    color: #484016;
    border: 0;
    background: transparent;
}

.pagination-number:hover {
    background: rgba(176, 228, 197, .5);
}

.pagination-current, .pagination-current:hover {
    background: rgba(123, 183, 147, 0.5);
}

@media(max-width: 800px) {
    .pagination {
        width: 50vw;
    }
}

@media (max-width: 640px) {
    .pagination {
        width: 75vw;
    }
}

@media (max-width: 480px) {
    .pagination {
        width: 90vw;
    }
}
