.profile-dropdown-container {
    z-index: 1000;
    top: -15px;
    right: 10%;
    position: absolute;
    min-width: 142px;
    padding-bottom: 10px;
    background: #FDFBF9;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-dropdown-container ul, .profile-dropdown-container li {
    text-decoration: none;
    list-style-type: none;
}

.profile-dropdown-container ul {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.profile-dropdown-container li {
    height: 35px;
}

.profile-dropdown-container a {
    font-size: 14px;
    line-height: 35px;
    display: block;
    padding: 0 16px;
}

.profile-dropdown-container a:hover {
    background: #eaeaea;
}

.profile-dropdown-container a:active {
    background: #dadada;
}
