{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Интернет магазин{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <!-- Material icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/pages/main_page.css' %}"                 rel="stylesheet">
    <link href="{% static 'css/components/header.css' %}"               rel="stylesheet">
    <link href="{% static 'css/components/navbar.css' %}"               rel="stylesheet">
    <link href="{% static 'css/components/profile_dropdown.css' %}"     rel="stylesheet">
    <link href="{% static 'css/components/footer.css' %}"               rel="stylesheet">
    <link href="{% static 'css/main.css' %}"                            rel="stylesheet">

    {% block styles %}{% endblock %}

    <script>
        let user = '{{ request.user }}'

        function getCookie(name) {
            let cookieArr = document.cookie.split(";")

            for(let i = 0; i < cookieArr.length; i++) {
              let cookiePair = cookieArr[i].split("=");

              if (name === cookiePair[0].trim()) {
                  return decodeURIComponent(cookiePair[i]);
              }
            }

            return null;
        }

        let cart = JSON.parse(getCookie('cart'));
        if (cart === null) {
            cart = {};
            document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
        }
    </script>

</head>

<body>


<header>
    {% include 'include/header.html' %}
</header>
<nav>
    {% include 'include/categories_navbar.html' %}
</nav>

<!-- Page Content -->
<div class="containerr">
    <div class="content">


        {% block content %}

        {% endblock %}


    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer>

    {% include 'include/footer.html' %}

</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

{% block js %}{% endblock %}

<!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile_dropdown.js' %}"></script>

</body>

</html>
