.content_type-signup {
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.signup-to-login__wrapper {
    display: flex;
    justify-content: center;
}

.signup__content-section {
    width: 80%;
    padding-bottom: 5%;
    position: relative;
}

.signup__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.signup__container {
    width: 100%;
}

.signup__form {
    width: 100%;
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.signup__form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__form-field {
    margin-bottom: 20px;
    width: 100%;
}

.signup__form-field input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background: transparent;
    border: 2px solid #484016;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    font-size: .875rem;
    color: #484016;
    padding: 0 16px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.signup__form-field input:focus {
    background: #fff;
}


.signup__form-btn {
    width: 235px;
    height: 54px;
    background-color: transparent;
    border: 2px solid #484016;
    cursor: pointer;
    -webkit-display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #484016;
    font-size: .875rem;
    line-height: 16px;
    text-align: center;
    margin: 32px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.signup__form-btn:hover {
    background: #eaeaea;
}

.signup__form-btn:active {
    background: #dadada;
}

.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus,
.form-field input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.to-signup__container {
    width: 40%;
    flex-direction: column;
    background: #EBDDCD;
    padding: 3% 3% 0 3%;
    margin-bottom: 5%;
    color: #fff;
    display: flex;
    align-items: center;
}

.to-signup__container h4 {
    color: #484016;
}

.login-btn:hover {
    background: #E0D3C3;
}

.login-btn:active {
    background: #D6C9BA;
}

@media screen and (max-width: 860px) {
    .signup-to-login__wrapper {
        flex-wrap: wrap;
    }

    .signup__content-section {
        width: 100%;
    }

    .to-signup__container {
        width: 100%;
    }
}
